* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

a { 
    color: inherit; 
}

body,
.top-bar,
.top-logo,
.top-title,
.side-bar,
.main-container,
.menu-items {
    display: flex;
}

.main-container {
    margin-top: 38.9px; 
}

body {
    font-family: 'Segoe UI Variable', 'Segoe UI', 'Roboto', sans-serif;
    background-color: #232323;
    flex-direction: column;
    user-select: none;
    overflow-y: hidden; /* remove any scrollbars apart from the output container */
}

.top-bar {
    background-color: #1f1f1f;
    border-bottom: 1px solid #2b2b2b;
    padding: 5px 10px;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 9;
}

.top-logo,
.top-bar {
    align-items: center;
}

.top-logo img {
    width: 20px;
    height: 20px;
}

.menu-items {
    padding: 0px 25px;
    color: #cccccc;
}

.file-menu,
.view-menu,
.help-menu {
    padding: 3px 10px;
    border-radius: 6px;
    cursor: pointer;
}

.file-menu:hover,
.view-menu:hover,
.help-menu:hover {
    background-color:#313232;
}

.top-title {
    flex: 1;
    justify-content: center;
}

.search-input {
    background-color: #2a2a2a;
    border: 1px solid #474747;
    padding: 5px 20px;
    width: 50%;
    border-radius: 6px;
    color: #fff;
    text-align: center;
    transition: 0.5s;
}

.search-input:hover {
    background-color: #2f2f2f;
    border: 1px solid #535353;
    transition: 0.5s;
}

.explorer-container {
    flex-grow: 1;
    background-color: #181818;
    width: 5%;
    height: 96vh;
    border-right: 1px solid #2b2b2b;
    color: #cccccc;
    margin-left: 3.5%;
    z-index: 0;
}

.output-container {
    font-family: Consolas, monospace;
    flex-grow: 2;
    width: 70%;
    background-color: #1f1f1f;
    padding: 10px 0 0 30px;
    user-select: text;
    height: calc(100vh - 38.9px);
    position: relative;
    z-index: 2;
    overflow-y: auto;
}

.icons-sub-container {
    width: 3.5%;
    height: 96vh;
    background-color: #181818;
    border-right: 1px solid #2b2b2b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #9b9b9b;
    font-size: 1.7rem;
    align-items: center;
    position: fixed;
    top: 38.9px;
    z-index: 3;
}

.icons-sub-container div:hover {
    color: #e0e0e0;    
}

.explorer-container,
.icons-sub-container {
    padding: 20px;
}

.icons-sub-container div {
    cursor: pointer;
}

.explorer-container p {
    cursor: pointer;
}

.index-html {
    margin-left: 18px;
}

.index-html:hover {
    background-color: #2a2d2e;
}

.index-html img {
    width: 10px;
    height: auto;
}

.comment-guide {
    color: #6a9955;
}

.comment-number,
.base-tag-color {
    color: #6e7681;
}

.answer-tag {
    color: #569cd6;
}

.help-tag {
    color: #9cdcfe;
}

/* class to toggle explorer bar on/off */
.hide-explorer-bar {
    display: none;
}

/* class to hide html icon/text in explorer window */
.hide-code-files {
    display: none;
}

/* class to push output container to the left when memory test sidebar is hidden */
.increase-output-margin {
    margin-left: 3.5%;
}

.rotate-icon {
    transform: rotate(-90deg);
}

.file-item,
.view-item,
.help-item,
.side-bar-profile-item {
    position: absolute;
    background-color: #1f1f1f;
    border: 1px solid #454545;
    border-radius: 6px;
    padding: 10px 15px;
    display: none;
}

.side-bar-profile-item {
    bottom: 60px;
    left: 20px;
    overflow: hidden;
    width: 250px
}

.file-item:hover,
.view-item:hover,
.help-item:hover {
    background-color: #04395e;
}

.show-file-item,
.show-view-item,
.show-help-item {
    display: block;
}

.comment-guide-mobile {
    display: none;
}

@media only screen and (max-width: 1408px) {
    .icons-sub-container {
        display: none;
    }
    .explorer-container {
        display: none;
    }
    .search-input {
        min-width: 80%;
    }
}

@media only screen and (max-width: 767px) {
    .menu-items {
        display: none;
    }
    .search-input{
        min-width: 60%;
    }
    .desktop-text {
        display: none;
    }
}